body{
    background-color: #17212e;
}

.circle{
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: pink;
}

.firstAnime .circle{
    margin-top: 20px;
    margin-left: 100px;
}


.secondAnime .circle{
    position: absolute;
    margin-top: 0px;
    margin-left: 100px;
}

.circle:nth-child(1){
    background-color: #ffc0ca;
}
.circle:nth-child(2){
    background-color: #ffa600;
}
.circle:nth-child(3){
    background-color: #ffff00;
}
